{% extends "base.html" %}
{% block html_lang %}{{ article.lang }}{% endblock %}

{% block title %}{{ article.title|striptags }} - {{ SITENAME }}{% endblock %}

{% block head %}
{{ super() }}

{% if article.description %}
<meta name="description" content="{{article.description}}" />
{% endif %}

{% for tag in article.tags %}
<meta name="tags" content="{{tag}}" />
{% endfor %}

{% endblock %}

{% block content %}
<section id="content" class="body">
    <div class="marginnote">
        <hr>
        <div class="article-information">
            <div class="article-information-heading uppercase">Published</div>
            <time class="published" datetime="{{ article.date.isoformat() }}">
                {{ article.locale_date }}
            </time>
            {% if article.modified %}
            <time class="modified" datetime="{{ article.modified.isoformat() }}">
                {{ article.locale_modified }}
            </time>
            {% endif %}
            {% if article.category %}
            <div class="category">
                Category: <a href="{{ SITEURL }}/categories#{{ article.category}}-ref">{{ article.category }}</a>
            </div>
            {% endif %}
            {% if article.tags %}
            <div class="tags">
                Tags:
                {% for tag in article.tags %}
                <a href="{{ SITEURL }}/tags#{{ tag }}-ref">{{ tag }}</a>
                {% endfor %}
            </div>
            {% endif %}
        </div>
        <hr>
    </div>
    <header>
        <h1 class="entry-title">
            <a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark"
                title="Permalink to {{ article.title|striptags }}">{{
                article.title }}</a>
        </h1>
    </header>
    <article class="article-content">
        {{ article.content }}
    </article>
</section>
{% endblock %}